# --- Python 缓存与编译文件 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虚拟环境---
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# --- 环境变量与敏感信息 ---
.env
.flaskenv
*.log
secret_key.txt

# --- IDE 与编辑器配置 ---
.vscode/
.idea/
*.swp
*.swo

# --- 打包与分发 ---
dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
htmlcov/

# --- 操作系统临时文件 ---
.DS_Store
Thumbs.db

# --- 测试xlsx文件 ---
*.xlsx